<style>
    .{{ NAMESPACE }}-dashboard {
        overflow: hidden;
        position: absolute;
        display: flex;
        align-items: center;
        top: -15px;
        right: 0;
        padding: 1em;
        width: 300px;
        color: #000;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    .{{ NAMESPACE }}-dashboard__avatar {
        border-radius: 50%;
        margin-right: 1rem;
    }

    .{{ NAMESPACE }}-dashboard__notification {
        text-align: right;
        flex-grow: 1;
    }
</style>
<div class="{{ NAMESPACE }}-dashboard">
    <img class="{{ NAMESPACE }}-dashboard__avatar" width="45" height="45"
         src="http://i.pravatar.cc/90" alt="Avatar">
    <span>{{ username }}</span>
    {{#if notifications}}
        <span class="{{ NAMESPACE }}-dashboard__notification">✉️</span>
    {{/if}}
</div>
